.idea

web_server/test/audio
web_server/app/services/whisper/model/*
web_server/app/storage/*
!web_server/app/storage/.gitkeep

!web_server_translate/app/services/translate/model/architecture/.gitkeep
web_server_translate/installed_package/mac


!triton_server/models/.gitkeep
!triton_server/models/htdecmus/config.pbtxt
triton_server/models/htdecmus/1


*onnx
*onnx_data
*wav
*mp3

!__init__.py

__pycache__

model_backup

*log

